doctype html
head
	meta(charset='utf-8', name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
	title= 'DEER MAP'

	// Stylesheets
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	// Javascript
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

body.coverbody
	.container-fluid
		.row
			.col-md-12#covertextcont
				.jumbotron.text-center.covertext
					h1 
						font(color='FFFFFF') Princeton Free Food Map
					br
					img#coverlogo(src='http://i.imgur.com/5QwRMGJ.png', title='logo')
					br
					h2 
						font(color='FFFFFF') The Hunt is On
					br
					p
						a.btn.btn-primary.btn-lg#enterbutton(type='button', href='/index') Where's the food?
		.row
			.col-md-12.text-center#inboxcont
				h1 
					font(color='FFFFFF') Cleaner Inbox 
				h4
					font(color='FFFFFF') No need to subscribe to the free food listserv. Just check the map.			
				img#inboximg(src='http://i.imgur.com/qGVO2cs.png', title='Clutter')
		.row
			.col-md-12.text-center#mapcont
				h1 
					font(color='FFFFFF') Never Miss an Opportunity
				h4
					font(color='FFFFFF') See what's up for grabs when and where.	
				img#mapimg(src="http://i.imgur.com/SsYEGin.png", title='Seafood is tasty')

		.row
			.col-md-12.text-center#coverfooter
				h1 
					font(color='FFFFFF') Working for Deer
				font(color='FFFFFF')
					p Working on DEER provides many benefits: 
					li Free food (maybe)
					li Flexible working hours
					li Eggplant
				font(color='FFFFFF')
					h3 Deer is looking for talented summer interns 	
					li Data Intern: (Unpaid) Label emails and perform manual MySQL data entry
					li Business Development Intern: (Unpaid) Pay for API and hosting expenses
					li Software Development Intern: (Unpaid) Provide coffee for founders 

		.row
			.col-md-12.text-center#coverfooter
				h1 
					font(color='FFFFFF') Questions?
				p 
					font(color='FFFFFF') Too bad
				

	//- .img-overlay
	//- 	img(src='d')
	//- 	.overlay
	//- 		.container-fluids
	//- 			a.btn.btn-warning(type='button', href='http://localhost:3000/') Success (ORANGE) Button
	//- 		.lay
	//- 			.container-fluids
	//- 				a.btn.btn-success(type='button', href='http://localhost:3000/') Success (ORANGE) Button
	
