doctype html
head
	meta(charset='utf-8', name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
	title= 'DEER MAP'

	// Stylesheets
	link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	// Javascript
	script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

body.coverbody
	//- img#bg(src='http://www.wallpapersfolder.com/user-content/uploads/wall/o/2013/06/lovely-tiger-cub-look-back-sadly.jpg', alt='')
	//- .intro-header
		//- .numbers
		//- 	a.btn.btn-warning(type='button', href='http://localhost:3000/') Success (ORANGE) Button
	//- .picture
	//- 	.container-fluid
	//- 		h1 
	//- 			b 
	//- 				font(color='FF6600') Project Deer
	//- 	.main-button
	//- 		a.btn.btn-warning.btn-lg(type='button', href='http://localhost:3000/index') WHERE'S THE FREE FOOD?
	.container-fluid
		.row
			.col-md-12#covertextcont
				.jumbotron.text-center.covertext
					h1 
						font(color='FFFFFF') Princeton Free Food Map
					br
					p 
						font(color='FFFFFF') Never pay for a meal again (maybe)
					br		
					p
						a.btn.btn-primary.btn-lg#enterbutton(type='button', href='http://localhost:3000/index') Where's the food?
		.row
			.col-md-12.text-center#inboxcont
				h1 
					font(color='FFFFFF') Cleaner Inbox 
				h4
					font(color='FFFFFF') No need to subscribe to the free food listserv. Just check the map.			
				img#inboximg(src='http://i.imgur.com/qGVO2cs.png', title='Clutter')
		.row
			.col-md-12.text-center#mapcont
				h1 
					font(color='FFFFFF') Never Miss an Opportunity
				h4
					font(color='FFFFFF') See what's up for grabs when and where.	
				img#mapimg(src='http://i.imgur.com/MoGGwZ5.png', title='I like scones')
		.row
			.col-md-12.text-center#coverfooter
				h1 
					font(color='FFFFFF') Meet the Team
		.row
			.col-sm-12.col-md-3
				.thumbnail
					img(src='https://scontent-a-iad.xx.fbcdn.net/hphotos-frc1/t31.0-8/1150473_10200255008049025_214182866_o.jpg?dl=1, https://www.facebook.com/photo.php?fbid=10200255008049025&set=a.1351172030512.2045216.1567716721&type=3&theater', alt='..')
					.caption
						h3 Patrick Ding
						p Patrick is a freaking stud. When Patrick is not coding or doing ORFE things, Patrick likes to spend time building and launching rockets, looking beautiful, and performing as a virtuosic flautist.
			.col-sm-12.col-md-3
				.thumbnail
					img(src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/10170692_10152747485783272_4225563882897453574_n.jpg', alt='..')
					.caption
						h3 Erick Chen
						p Erick is a beast at making maps. He likes to go to the gym late at nights after daily coding sessions and eating Hogie Haven. He is probably the sexiest contributer of the DEER project.
			.col-sm-12.col-md-3
				.thumbnail
					img(src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/1618431_10152092289133542_1329434398_n.jpg', alt='..')
					.caption
						h3 Oscar Li
						p Oscar just likes to SLEEP! SLEEEP!! SLEEEP!!! SLEEEEP!!!! SLEEEEEP!!!!! SLEEEEEEP!!!!!! SLEEEEEEEP!!!!!!! SLEEEEEEEEP!!!!!!!! SLEEEEEEEEEP!!!!!!!!!
			.col-sm-12.col-md-3
				.thumbnail
					img(src='https://scontent-a-iad.xx.fbcdn.net/hphotos-prn2/t1.0-9/1175682_544752075572984_842042088_n.jpg', alt='..')
					.caption
						h3 Brandon Lam
						p Brandon is both a musician and programmer. Although he plays viola (ewwww), he still likes to believe that he can actually play music. He should have picked up the basson instead.
		.row
			.col-md-12.text-center#coverfooter
				h1 
					font(color='FFFFFF') Working for DEER
				.thumbnail 
					.caption 
						p If you want to work on DEER, you can find one of us at any of the free food events. We do guarentee that we will be at all of the events, but there is a possibility that we will be at any given invent. Working on DEER provides many benefits: 
						li Free food guarenteed
						li Flexible working hours
						Li Sexy team members
						li Potential to make a difference
						li A great TA named Xin Jin who will tell you when you are not getting anything done. 

		.row
			.col-md-12.text-center#coverfooter
				h1 
					font(color='FFFFFF') Questions?
				p 
					font(color='FFFFFF') Too bad
				a.twitter-follow-button(href='https://twitter.com/twitter', data-show-count='false', data-size='large') Follow @deer
script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
script
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


	//- .img-overlay
	//- 	img(src='d')
	//- 	.overlay
	//- 		.container-fluids
	//- 			a.btn.btn-warning(type='button', href='http://localhost:3000/') Success (ORANGE) Button
	//- 		.lay
	//- 			.container-fluids
	//- 				a.btn.btn-success(type='button', href='http://localhost:3000/') Success (ORANGE) Button
	
