doctype html
html(lang="en")
extends layout

block content
  h1= title
  p Welcome to #{title}
  p Oscar says "Hello World!"
  p Erick says "Oscar will make beautiful arsty babies with his beautiful artsy wife"
  p Patrick says "Hello"
