body {
  	padding: 0;
  	padding;: 0;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9999;
	color: white;
	display: inline-block;
}

.container-fluid {
	padding-top: 2%; 
	padding-left: 2.5%;
}

.panel {
	box-shadow: 5px 5px 2px #888888; 
	border-color: #000000;
}

.panel-body {
	overflow: auto;
  	height:500px;
}

.panel-heading {
	background-color: #FFA300; 
	border-color: #000000;
}

.small-container {
	padding-top: 2.5%; 
	padding-left: 2.5%;
}

.subject-container {
	background-color: #99CCFF;
	padding-top: 2.5%; 
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
}

#myheading{
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
}

#myh3{
	margin-top:10px;
}

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

.main-button {
	position: relative;
	padding-top: 35%;
  	padding-left: 4%;
}

.picture {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: url('http://www.wallpapersfolder.com/user-content/uploads/wall/o/2013/06/lovely-tiger-cub-look-back-sadly.jpg') no-repeat center center;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
