body {
	padding: 0;
	padding;: 0;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9999;
	color: white;
	display: inline-block;
}

.container-fluid {
	padding-top: 0%; 
	padding-left: 1.5%;
}

.small-container {
	padding-top: 2.5%; 
	padding-left: 2.5%;
}

.subject-container {
	background-color: #99CCFF;
	padding-top: 2.5%; 
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
}

#myh3{
	margin-top:10px;
}

.popup {
	text-align: center;
}
.popup .slideshow {
	width: 100%;
}
.popup .slideshow .image {
	display: none;
}
.popup .slideshow .active {
	display: block;
}
.popup .slideshow img {
	width: 100%;
}
.popup .slideshow .caption {
	background: #eee;
	padding: 8px;
}
.popup .cycle {
	height: 30px;
	margin-top: 5px;
	padding-top: 5px;
}
.popup .cycle a.prev {
	float: left;
}
.popup .cycle a.next {
	float: right;
}

.main-button {
	position: relative;
	padding-top: 35%;
	padding-left: 4%;
}

.picture {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: url('http://www.wallpapersfolder.com/user-content/uploads/wall/o/2013/06/lovely-tiger-cub-look-back-sadly.jpg') no-repeat center center;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


/*----------- Carousel and Popup --------------*/

.carousel {
	max-width: auto;
	width: auto;
	overflow: auto;
	max-height: 280px;
	margin: 10px;
}

a.carousel-control {
	position: absolute;	
}

a.carousel-control.left, a.carousel-control.right {
	background-image: none;
}

a.carousel-control.right {
	margin-right: -13px;
	margin-top: -5px;
}

#marker {
	text-align: center;
}

.carousel-inner > .item {
	margin: 5% 7% 5% 7%;
}

.markermsg {
	max-height: 95%;
	overflow: auto;
}

.arrowparent {
	display: table;
} 

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*----------- Tab Bar -------------*/
.nav {
	margin-right: 0;
	margin-bottom: 0px;
	background-color: #333;
	color: #FF6600;
	border-color: #FFFFFF;
	z-index: 200;
	float:right;
}

.nav, .nav-tabs > li > a {
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin:0;
}

.nav>li>a:hover {
	color: #FFFFFF;
	background-color: #333;
}

.nav>li>a {
	color: #555;
	background-color: #333;
}
.tab-content {
	margin-bottom: 0px;
	border-color: transparent;
	z-index: 999;
	padding-right: 2%;
	padding-left: 25%;
}

.rowhead {
	background-color: #FFFFFF;
	/*height: 100%;*/
}
#mcolor {
	color: #FF6600; 
}
#jumbotronlogo
{
	background-color: #FFF;
	background-image: url("http://i.imgur.com/ZbIH492.png");
	background-repeat:no-repeat;
	background-size:contain;
}
#jumbotronscroll
{
	overflow-y: scroll;
	overflow-x: hidden;
	height:500px;

}
#rowcolor
{
	background-color: #333;
	/*z-index: 910;*/
	position:relative;
	padding:0;
}

/*----------- Sidebar ------------*/
.ui-state-focus{
	outline: transparent;
}

#title {
	text-align: center; 
	color: #FF6600; 
	text-shadow: none; 
	margin-top: 10px; 
	margin-bottom: 0px;
}

#sidebar, #sidebar a, #sidebar-footer a {
	color:#ffffff;
	background-color:#333;
	text-shadow:0 0 2px #000000;
	padding-left:0px;
	padding-right:0px;
	height:100%;
	width: 26%;
	z-index: 900;
	position: fixed;
	overflow: auto;
}

#sidebar .nav li>a:hover {
	background-color:#393939;
}

#sidebar .nav li>a:active{
	background-color:#393939;
}

#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

.panel-body.mine {
	padding-top: 0%;
	padding-bottom: 0%;
	padding-right: 10%;
	padding-left: 10%;
}

.panel-group {
	background-color: transparent;
}

.panel-heading {
	background-color: transparent; 
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.panel-heading:hover{
	background-color:#393939;
}

table,th,td {
	border:1px transparent;
	width: 100%;
	height: auto;
}

/*--------------------------------*/

/* make pointer mouse appear on mouseover of markers */
.leaflet-overlay-pane path,
.leaflet-marker-icon {
  cursor: pointer;
}



/*-------- Cover Page --------*/

.coverbody {
	height:100%;
	min-height:100%;
	background-color: #000;
}

.jumbotron.covertext {
	height:100%;
	background-color: transparent;
	margin:0;
}

#covertextcont {
	margin-bottom:auto;
	background-image: url('http://i.imgur.com/IEFSMkY.jpg');
	background-size:100%
}

#mapimg {
	/*max-width: 50%;*/
	max-width: 800px;
	padding:2%;
}

#inboximg {
	max-width: 800px;
	padding:2%;
}

#inboxcont, #mapcont {
	background-color: #3D3C3A;
}

#enterbutton {
	background-color: #E87511;
	border-color:#E87511;
}

#enterbutton:hover {
	background-color: #F88017;
}

#coverlogo {
	width: 200px;
	margin: 20px;
}