body {
  	padding: 0;
  	padding;: 0;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9999;
	color: white;
	display: inline-block;
}

.container-fluid {
	padding-top: 0%; 
	padding-left: 1.5%;
}

.small-container {
	padding-top: 2.5%; 
	padding-left: 2.5%;
}

.subject-container {
	background-color: #99CCFF;
	padding-top: 2.5%; 
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
}

#myh3{
	margin-top:10px;
}

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

.main-button {
	position: relative;
	padding-top: 35%;
  	padding-left: 4%;
}

.picture {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: url('http://www.wallpapersfolder.com/user-content/uploads/wall/o/2013/06/lovely-tiger-cub-look-back-sadly.jpg') no-repeat center center;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

a.carousel-control {
	/*margin-right: -50px;
	margin-left:-35px;*/
	top:90%;
}

a.carousel-control.left, a.carousel-control.right {
    background-image: none;
}

a.carousel-control.right {
	margin-right: -5%;
}

#marker {
	text-align: center;
}

.carousel-inner > .item {
	margin: 5% 5% 10% 5%;
}
 
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*----------- Navbar -------------*/
.navbar.deer {
	margin-bottom: 0px;
	background-color: #333;
	border-color: #333;
	z-index: 200;
}

/*----------- Sidebar ------------*/
#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:#333;
	text-shadow:0 0 2px #000000;
    padding-left:0px;
    padding-right:0px;
    height:100%;
    width: 25%;
    z-index: 90;
    overflow: auto;
    position: fixed;
}

#sidebar .nav li>a:hover {
    background-color:#393939;
}

#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

.panel-body.mine {
	padding-top: 0%;
	padding-bottom: 0%;
	padding-right: 2%;
	padding-left: 2%;
}

.panel-group {
	background-color: transparent;
	overflow: auto;
}

.panel-heading {
	background-color: transparent; 
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.panel-heading:hover{
	background-color:#393939;
}
/*--------------------------------*/
